body{
	size: 7in 9.25in;
   margin: 27mm 16mm 27mm 16mm;
   font-family: Courier;
   font-size: 14px;
}
.grid-container{
	display:grid;
	grid-template-columns: 2fr 1fr;
	grid-column-gap: 20px;
}
.head-grid{
	grid-column: 1/3;
	background-image: linear-gradient(to left, #3A292D, pink,#FDE8EC);
	padding-top: 20px;
	margin-bottom: 60px;

}
h1{
	margin-left: 50px;
	margin-top: 50px;
	margin-bottom: 0px;
}
h2{
	margin-left: 50px;
	margin-top: 5px;
}
p{
	margin-top: 10px;
	margin-left: 50px;
}

.experince-grid{
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: repeat(3,1fr);
}
.skill-grid{
}
.education-grid{
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: 1fr;
}
.certif-grid{
	
}
.intrest-grid{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
}
.language-grid{
	display: grid;
	grid-template-rows: 1fr 1fr;
}
.end{
	grid-column: 1/3;
	margin-top: 10px;
	margin-bottom: -20px;
}
h5{
	display: inline;
}
.end-grid{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	background-image: linear-gradient(to left, #3A292D, pink,#FDE8EC);
}
progress{
	display: block;
}
.line{
	border: 2px solid #AB7F87;

}
#line-end{
	border: 2px solid white;

}
h4{
	text-align: center;
}
.line1{
border-top: 10px solid #AB7F87;
margin-bottom: -10px;
}
.title-cover{
	float: left;
	width:50%;
}
.imag1{
	background-image: linear-gradient(to right, #3A292D, pink,#FDE8EC);
	float: right;
	margin: 25px 20px -100px 0;
	width: 200px;
	height: 200px;
	padding: 10px;
	/*border:5px solid;*/

}
.imag1 img{
	width: 100%;
	height: 100%;
/*	border: 10px solid;
*/	/*background-color: linear-gradient(to left, #3A292D, pink,#FDE8EC);*/
}
